<%
  const {
    appType, isWeAppHost, title, env, publishEnv,
    assetsUrl, cdnBase,
    heads, bodies, pages, debug, microAppName, layout,
    weAppHostCSS, weAppHostJS
  } = htmlWebpackPlugin.options
%>
<!DOCTYPE html>
<html lang="zh">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <link rel="shortcut icon" href="https://gw.alipayobjects.com/zos/basement_prod/b2725a7a-bd7d-488a-8876-510140aa5791.ico" type="image/x-icon" />
    <% for(let i = 0; i < heads.length; i++) { %>
    <%= heads[i] %>
    <% } %>
    <% if(isWeAppHost && publishEnv !== 'local') { %>
    <link rel="stylesheet" href="<%= assetsUrl %>index.css" />
    <% } %>
    <% if(!isWeAppHost && weAppHostCSS.length > 0) { %>
    <% for(let i = 0; i < weAppHostCSS.length; i++) { %>
    <link rel="stylesheet" href="<%= weAppHostCSS[i] %>" />
    <% } %>
    <% } %>
    <script src="https://gw.alipayobjects.com/as/g/component/babel-polyfill/6.20.0/polyfill.min.js" crossorigin="anonymous"></script>
    <% if(['local', 'project', 'daily'].indexOf(publishEnv) === -1) { %>
    <script src="https://gw.alipayobjects.com/os/lib/react/16.8.6/umd/react.production.min.js" crossorigin="anonymous"></script>
    <script src="https://gw.alipayobjects.com/os/lib/react-dom/16.8.6/umd/react-dom.production.min.js" crossorigin="anonymous"></script>
    <% } else { %>
    <script src="https://gw.alipayobjects.com/os/lib/react/16.8.6/umd/react.development.js" crossorigin="anonymous"></script>
    <script src="https://gw.alipayobjects.com/os/lib/react-dom/16.8.6/umd/react-dom.development.js" crossorigin="anonymous"></script>
    <% } %>
  </head>
  <body>
    <!-- <%= JSON.stringify(htmlWebpackPlugin, null, 2) %> -->
    <% for(let i = 0; i < bodies.length; i++) { %>
    <%= bodies[i] %>
    <% } %>
    <script>
    window.env = '<%= env %>';
    window.publishEnv = '<%= publishEnv %>';
    window.cdnBase = '<%= cdnBase %>';
    <% if(!isWeAppHost) { %>
    window[Symbol.for('WeAppList')] = [
      <% if (layout) { %>
      '<%= layout %>',
      <% } %>
      '/app-config.js',
    ];
    <% } %>
    </script>
    <% if(!isWeAppHost && weAppHostJS.length > 0) { %>
    <% for(let i = 0; i < weAppHostJS.length; i++) { %>
    <script src="<%= weAppHostJS[i] %>" crossorigin="anonymous"></script>
    <% } %>
    <% } %>
    <% if(isWeAppHost && publishEnv !== 'local') { %>
    <script src="<%= assetsUrl %>index.js" crossorigin="anonymous"></script>
    <% } %>
  </body>
</html>
